<form method="post" action="/login">
	<label for="username">Username</label>
	<input class="inline" type="text" name="username" placeholder="<%= params[:username] %>" value="">

	<div>
		<label for="password">Password</label>
		<input class="inline" type="text" name="password" value="">
	</div>
	<button type="submit">Sign in</button>
</form>